<div role="main" class="container">
  <div class="jumbotron">
    <div class="container-fluid">
      <div style=""><h1>Administración de productos</h1></div>
      <table class="table table-stripedd">
        <caption>Productos</caption>
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Borrar</th>
            <th scope="col">Selecionar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><button class="btn btn-danger">Borrar</button></td>
            <td><button class="btn btn-primary">Selecionar</button></td>
          </tr>
        </tbody>
      </table>

      <form>
        <div class="form-group">
          <label for="code" class="form-label">Código</label>
          <input  class="form-control" type="number" name="code" id="" placeholder="Código del producto">
        </div>
        <div class="form-group">
          <label for="description" class="form-label">Descripción</label>
          <input class="form-control" type="text" name="description" id="" placeholder="Descripción del producto">
        </div>
        <div class="form-group">
          <label for="price" class="form-label">Precio</label>
          <input  class="form-control" type="number" name="price" id="" placeholder="Precio del producto">
        </div>
      </form>
  </div>
</div>





